<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alljf.jf"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data  
        android:name="com.baidu.lbsapi.API_KEY"  
        android:value="6ia8cGGRswlroGQtBw3iCdiB" />  
        
        <!-- 支付宝 -->
        <activity 
            android:name="com.pay.ali.PayDemoActivity">

        </activity>
        
         <!-- 微信回调页面 -->
         <activity 
             android:name="com.pay.mm.PayActivity"
             android:label="@string/app_name" 
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
             >
         </activity>
        <activity 
            android:name="com.alljf.jf.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"></activity>
        <!-- Ping++ sdk -->

<!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
<activity
    android:name=".wxapi.WXPayEntryActivity"
    android:exported="true"
    android:targetActivity="com.pingplusplus.android.PaymentActivity" />
<!-- 支付宝 sdk -->
<activity
    android:name="com.alipay.sdk.app.H5PayActivity"
    android:configChanges="orientation|keyboardHidden|navigation"
    android:exported="false"
    android:screenOrientation="behind" >
</activity>
<activity
    android:name="com.alipay.sdk.auth.AuthActivity"
    android:configChanges="orientation|keyboardHidden|navigation"
    android:exported="false"
    android:screenOrientation="behind" >
</activity>


<!-- ping++ -->
        
        <activity
            android:name="com.alljf.jf.activity.MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.IndexActivity"
            android:label="@string/title_activity_index" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.ShopsActivity"
            android:label="@string/title_activity_shops" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.BuyActivity"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.CarouselActivity"
            android:label="a" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.activityRetrieveActivity"
            android:label="@string/title_activity_retrieve" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.EditPwdActivity"
            android:label="@string/title_activity_edit_pwd" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.FinanInfoActivity"
            android:label="@string/title_activity_finan_info" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.RegnActivity"
            android:label="@string/title_activity_regn" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.Product_infoActivity"
            android:label="@string/title_activity_product_info" >
        </activity>
        <activity
            android:name="com.alljf.jf.activity.Product_info_itemActivity"
            android:label="@string/title_activity_product_info_item" >
        </activity>
        <!-- 公司公告 -->
        <activity 
            android:name="com.alljf.jf.activity.CompanyNoticeActivity"
            ></activity>
        <!--公告详情  -->
        <activity 
            android:name="com.alljf.jf.activity.DynamicDetailsActivity"
            ></activity>
        <!-- 充值 -->
        <activity 
            android:name="com.alljf.jf.activity.RechargeActivity"
            ></activity>
        <!--订单  -->
        <activity 
            android:name="com.alljf.jf.activity.OrderActivity"
            ></activity>
        <!-- 个人资料 -->
        <activity 
            android:name="com.alljf.jf.activity.PersonDataActivity"
            ></activity>
        <!-- 管理收货地址 -->
        <activity 
            android:name="com.alljf.jf.activity.TakeGoodsAddressActivity"
            ></activity>
        <!-- 提现界面 -->
        <activity 
            android:name="com.alljf.jf.activity.WithDrawAcivity"
            android:windowSoftInputMode="stateUnchanged"
            ></activity>
        <!-- 公司简介详情 -->
        <activity 
            android:name="com.alljf.jf.activity.CompanyInfoActivity"
            ></activity>
        <!-- 产品分类详情 -->
        <activity 
            android:name="com.alljf.jf.activity.ProductClassNumberActivity"
            ></activity>
        <!-- 下架公告界面 -->
        <activity 
            android:name="com.alljf.jf.activity.SoldOutActivity"
            ></activity>
        <!-- 全部商品界面 -->
        <activity 
            android:name="com.alljf.jf.activity.AllProductActivity"
            ></activity>
        <!-- 支付密码找回界面 -->
        <activity 
            android:name="com.alljf.jf.activity.PayPassWordFindBackActivity"
            android:windowSoftInputMode="stateUnchanged"
            ></activity>
        <!-- 修改安全信息界面 -->
        <activity 
            android:name="com.alljf.jf.activity.ChangeSafetyActivity"
            android:windowSoftInputMode="stateUnchanged"
            ></activity>
        <!--二维码界面  -->
        <activity 
            android:name="com.alljf.jf.activity.TwoDimensionCodeActivity"
            ></activity>
        <!-- 新建 收货地址界面-->
        <activity 
            android:name="com.alljf.jf.activity.NewTakeOverGoodsAddress"
            android:windowSoftInputMode="stateUnchanged"
            ></activity>
        <!-- 确认支付界面 -->
        <activity 
            android:name="com.alljf.jf.activity.PayMoneyActivity"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <!-- 选择省市县界面 -->
        <activity 
            android:name="com.wheelview.CitiesActivity"
            ></activity>
        <!-- 修改地址界面 -->
        <activity 
            android:name="com.alljf.jf.activity.ChangeTakeGoodsAddressActivity"
            ></activity>
        <!-- 找回密码界面	 -->
        <activity 
            android:name="com.alljf.jf.activity.RetrieveActivity"
            ></activity>
        <!-- 发票信息界面 -->
        <activity 
            android:name="com.alljf.jf.activity.BillActivity"
            android:windowSoftInputMode="stateUnchanged"
            ></activity>
       
        <!-- 商家发货界面 -->
        <activity 
            android:name="com.alljf.jf.activity.ShangJiaSendGoodsActivity"
            ></activity>
        

        <!-- 订单界面 -->
        <activity 
            android:name="com.alljf.jf.activity.ZJorderActivity"
            ></activity>
        <!-- 支付界面 -->
        <activity 
            android:name="com.alljf.jf.activity.PayForActivity"
            ></activity>
         <!-- 投诉列表界面 -->
        <activity 
            android:name="com.alljf.jf.activity.ComplaintActivity"
            ></activity>
        <activity 
            android:name="com.alljf.jf.activity.oederactivity1"
            ></activity>
          <activity 
            android:name="com.alljf.jf.activity.oederactivity2"
            ></activity>
           <activity 
            android:name="com.alljf.jf.activity.oederactivity3"
            ></activity>
           <activity 
            android:name="com.alljf.jf.activity.oederactivity4"
            ></activity>
           <activity 
            android:name="com.alljf.jf.activity.oederactivity5"
            ></activity>
           <!-- 查看物流详情界面 -->
           <activity 
               android:name="com.alljf.jf.activity.CheckLogisticsActivity"
               ></activity>
           <!-- 确认收货界面 -->
           <activity 
               android:name="com.alljf.jf.activity.SureTakeGoodsActivity"
               ></activity>
           <!-- 投诉 -->
           <activity 
               android:name="com.alljf.jf.activity.TousuActivity"

               android:windowSoftInputMode="stateUnchanged"
               ></activity>
           <!-- 发表评价界面 -->
           <activity 
               android:name="com.alljf.jf.activity.FaBiaoPingJiaActivity"
               ></activity>
           <!-- 订单详情界面 -->
           <activity 
               android:name="com.alljf.jf.activity.DingDanXQActivity"
               ></activity>
           <!-- 退款与售后界面 -->
           <activity 
               android:name="com.alljf.jf.activity.TuiKuanYuSHActivity"

               ></activity>
           <activity 
               android:name=".activity.TousuXiangqingActivity"
               ></activity>
           <!-- 引导页 -->
           <activity 
               android:name=".activity.ViewPagerActivity"
               >
                <intent-filter>		
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           </activity>
           <activity 
               android:name=".activity.activity_qidongye"

               ></activity>
           <!--搜索界面  -->
           <activity 
               android:name=".activity.SousuoActivity"
               ></activity>
           <!-- 选择服务界面 -->
           <activity 
               android:name=".activity.XuanzefuwuActivity"
               ></activity>
           <!-- 申请退款界面 -->
           <activity 
               android:name=".activity.ShenQingTuiKuanActivity"
               android:windowSoftInputMode="stateUnchanged"
               ></activity>
           <!-- 支付成功界面 -->
           <activity 
               android:name=".activity.SuccessPayActivity"
               ></activity>
        <!-- QZONE -->
        <activity
            android:name="com.tencent.tauth.AuthActivity" 
            android:noHistory="true" 
            android:launchMode="singleTask" >
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="1105031750" />
             </intent-filter>
        </activity>
        <activity 
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" 
         />
        <!-- QZONE -->
    </application>
       <!-- 微信star -->
        <uses-permission android:name="android.permission.INTERNET"/> 
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
         <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
         <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
         <!-- 微信end -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
