<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexActivity"
            android:label="@string/title_activity_index" >
        </activity>
        <activity
            android:name=".ShopsActivity"
            android:label="@string/title_activity_shops" >
        </activity>
        <activity
            android:name=".BuyActivity"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name=".CarouselActivity"
            android:label="a" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RetrieveActivity"
            android:label="@string/title_activity_retrieve" >
        </activity>
        <activity
            android:name=".EditPwdActivity"
            android:label="@string/title_activity_edit_pwd" >
        </activity>
        <activity
            android:name=".FinanInfoActivity"
            android:label="@string/title_activity_finan_info" >
        </activity>
        <activity
            android:name=".RegnActivity"
            android:label="@string/title_activity_regn" >
        </activity>
        <activity
            android:name=".Product_infoActivity"
            android:label="@string/title_activity_product_info" >
        </activity>
        <activity
            android:name=".Product_info_itemActivity"
            android:label="@string/title_activity_product_info_item" >
        </activity>
        <!-- 公司公告 -->
        <activity 
            android:name=".CompanyNoticeActivity"
            ></activity>
        <!--公告详情  -->
        <activity 
            android:name=".DynamicDetailsActivity"
            ></activity>
        <!-- 充值 -->
        <activity 
            android:name=".RechargeActivity"
            ></activity>
        <!--订单  -->
        <activity 
            android:name=".OrderActivity"
            ></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>